@page "/incidentedit"
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.WebUtilities
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Edit Incident</PageTitle>

<h1>Incident</h1>

<div style="max-width: 500px; margin-top:20px">
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="date">Date:</label>
        <input type="date" id="date" class="form-control" style="width: 150px" @bind-value="incident.Reported_at" />
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" @bind-value="incident.Title" />
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="description">Description:</label>
        <input type="text" id="description" class="form-control" @bind-value="incident.Description" />
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="incidenttype">Type:</label>
        <select id="incidenttype" class="form-control" style="width: 150px" @bind="incident.Incident_type">
            @{int i = 1;}
            @foreach (var item in incidenttypeArray)
            {
                <option value=@i>@item</option>
                i++;
            }
        </select>
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label for="resourceid">Resource ID:</label>
        <input type="text" id="resourceid" class="form-control" @bind-value="incident.ResourceID" />
    </div>
    <div class="form-group" style="margin-bottom: 10px; margin-top: 10px;">
        <label for="closed">Closed:</label>
        <input type="checkbox" id="closed" @bind="incident.Resolved">
    </div>
    <hr />
    <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="btn btn-success" @onclick="cmdSave_Clicked">Save incident</button>
        <button type="button" class="btn btn-warning" @onclick="cmdEscalate_Clicked">Escalate</button>
        <span class="text-danger" style="margin-left: 10px; font-weight: bold">@escalateMessage</span>
    </div>

</div>


@code {
    private int id = 0;

    Incident incident = new Incident();
    string[] incidenttypeArray { get; set; } = new[] { "Ticket", "Issue", "Informational", "Problem" };

    string escalateMessage = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        string username = (await ProtectedSessionStore.GetAsync<string>("username")).Value ?? "";
        string token = (await ProtectedSessionStore.GetAsync<string>("token")).Value ?? "";
        if (Helper.checkToken(username, token) == false)
        {
            NavManager.NavigateTo("/");
        }
        else
        {
            if (firstRender)
            {
                if (incident.Incident_id == 0) incident.Reporter = username;
                StateHasChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            id = Convert.ToInt32(_id);
            if (id > 0) incident = new Incident(id);
        }
    }

    private void cmdSave_Clicked()
    {
        incident.Save();
        NavManager.NavigateTo("incidents");
    }

    private async Task cmdEscalate_Clicked()
    {
        escalateMessage = "Calling Escalate API...";
        StateHasChanged();
        try 
        {
            if (await Helper.EscalateIncident(incident.ResourceID))
            {
                escalateMessage = "Escalated successfully.";
            }
            else
            {
                escalateMessage = "Escalate API failed.";
            }
        }
        catch(Exception ex)
        {
            escalateMessage = "Error: " + ex.Message;
        }
    }
}
